---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Component
import BlogEntry from "@/components/blog/BlogEntry.astro";
// Sections
//import Subscribe from "@/components/blog/Subscribe.astro";
// Content
import { getCollection } from "astro:content";
const allPostsUnsorted = await getCollection("posts");
// Sort the posts in descending order by publication date (newest to oldest)
const allPosts = allPostsUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
// Tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-48 pb-24">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-accent-950 uppercase font-display font-medium text-balance"
      >
Beautiful Forms, Better Insights
      </Text>

      <div class="flex items-center mt-12 gap-2">
        <div
          class="relative flex h-full overflow-x-scroll gap-2 lg:gap-4 scrollable-content snap-x snap-proximity scrollbar-hide"
        >
          {
            tags.map((tag) => (
              <a
                title={tag}
                aria-label={tag}
                href={`/blog/tags/${tag}`}
                class="text-xs capitalize text-base-500 hover:text-accent-500"
              >
                {tag}
              </a>
            ))
          }
        </div>
      </div>
      <div class="mt-4 grid grid-cols-1 gap-1 md:grid-cols-2">
        {allPosts.map((post) => <BlogEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
 i<!--  Subscribe  -->
</BaseLayout>
